header{
	background-color: #990000;
	color:#EDEBEB;
	height:100%;
	overflow: hidden;
	text-align: center;
}

header .introRect{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 700px;
    height: 500px;
    margin-left: -350px;
    margin-top: -250px;
}

a, abbr, acronym, address, article, aside, audio, b, big, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li fieldset, mark, menu, nav, object, ol, output, p, pre, q, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, ul, var, video {
	margin: 0;
    padding: 0;
    border: 0;
    /* font: inherit; */
    vertical-align: baseline;
}

div {
    display: block;
}
