header{
	background-color: #990000;
	height:100%;
	overflow: visible;
	text-align: center;
}

p, h2, h3, body{
	margin-left:0;
	margin-right:0;
	margin-top:0;
	margin-bottom:0;
}

.content {
	height:100%;
}


header .introRect {
	position:relative;
	left: 50%;
	top: 400px;
	width: 800px;
    height: 1000px;
    margin-left: -400px;
    margin-top: -70px;
}


header .name {
	margin:0;
	margin-top:20px;
	margin-bottom: 15px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 55px;
	letter-spacing: 6px;
	color:#EDEBEB;
}
header .Desc{
	font-family: 'Raleway', sans-serif;
	margin-top: 12%;
	letter-spacing: 2px;
	color:#EDEBEB;
}

header .school{
	margin-top: 15%;
}
header .about {
	margin-top: 18%;
}

header .resume {
	margin-top: 13%;
} 
header .projects {
	margin-top: 12%;
} 
header a{
	font-family: 'Raleway', sans-serif;
	font-size:26px;
	text-decoration: none;
	text-align: center;
}

header h3 {
	font-family: 'Raleway', sans-serif;
	font-size:26px;
	letter-spacing: 2px;
}

header ul{
	padding-left: 0;
	margin-top: 15%;
	list-style: none;
	width:100%;
}

header li{
	margin-top: 3%;
	list-style-type: none;
	font-family: 'Raleway', sans-serif;
	font-size:26px;
	text-decoration: none;
	text-align: center;
	color:#EDEBEB;
	/*letter-spacing: 2px;*/

}

section#about{
	background-color: #006298;
	color:#000000;
	text-align: center;

}

.title{
	font-family: 'Josefin Sans', sans-serif;
	letter-spacing: 5px;
	top:50%;
	padding-top:5%;
	padding-bottom: 3%;
	font-size: 55px;
	left:50%;
}

section#about p{
	
	width:780px;
	font-family: 'Raleway', sans-serif;
	font-size:26px;
	margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding-bottom: 50px;
}

section#about img.me{
	display: block;

    height: 100%;
    width: auto;

 }
 section#about div.pic{
 	width: 250px;
    height: 250px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
 }

 section#resume {
 	background-color: #ACA39A;
 	color:#FFFFFF;
 	text-align: center;
 }

 section#resume p {
 	width:780px;
	font-family: 'Raleway', sans-serif;
	font-size:26px;
	margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding-bottom: 50px;
 }

 section#resume div.resumeContent {
 	position:relative;
	top: 40px;
	width: 800px;
    height: 1000px;
    margin-left: -400px;
    margin-top: -70px;
 }
 section#resume h2.title{
 	left:50%;
 }

 section#resume img.employer{
 	max-height: 200px;
 	max-width:200px;
 }

 section#resume table.jobs{
 	margin-left:5%;
 }

 section#resume td.jobdesc p{
 	width: 1200px;
 	text-align: left;
 }

 section#resume td.employer {
    padding-left: 20%;
}