header{
	/*background-color: #990000;
	background-color: #283c86;*/
	background: linear-gradient(180deg,#FFA17F, #304352);
	background-size:cover;
	height:100%;
	overflow: visible;
	text-align: center;
	padding-left:5%;
	padding-right:5%;
	padding-top:5%;
}

p, h2, h3, body{
	margin-left:0;
	margin-right:0;
	margin-top:0;
	margin-bottom:0;
	font-size: 18px;
}

body{
	overflow-x:hidden;
}

.content {
	height:100%;
}


header #introRect {
	position:relative;
	/*left: 50%;
	width: 800px;
	margin-left: -400px;*/
    height: 500px;
}

.jumbotron p{
	/*background: linear-gradient(180deg,#FFA17F, #304352);
	color: transparent;*/
	color:#977268;
	-webkit-background-clip: text;
}


div#introRect.jumbotron.text-center {
	/*background-color: #990000;
	color:#EDEBEB;*/
	color:#977268;
	-webkit-background-clip: text;
	/*background-color : transparent;
	background: linear-gradient(180deg, #00c3ff, #283c86);*/
}

div#introRect.jumbotron.text-center h1, h3{

	background: linear-gradient(180deg, #FFA17F, #AC7B6D);*/
	color: transparent;
	-webkit-background-clip: text;
}

h3#subdesc.Desc{
	background: linear-gradient(180deg,#AC7B6D, #977268);
	color: transparent;
	-webkit-background-clip: text;
}

div#resumeContent.jumbotron.text-center {
	background-color: #ACA39A;
	/*background: linear-gradient(180deg, #283c86, #EF3B36);*/
}

h1.name {
	padding-top: 23%;
}

header .name {
	margin:0;
	margin-top:20px;
	margin-bottom: 15px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 35px;
	letter-spacing: 4px;
	color:#EDEBEB;
}

b,strong {
	font-family: 'Raleway', sans-serif;
}


header .Desc{
	font-family: 'Quicksand', sans-serif;
	margin-top: 12%;
	letter-spacing: 2px;
	/*color:#EDEBEB;*/
}

header .school{
	margin-top: 15%;
}
a#subdesc {
	text-decoration: none;
}


header .about {
	margin-top: 18%;
}

table.table tbody tr td {
	border-top:none;
}

header .resume {
	margin-top: 13%;
} 
header .projects {
	margin-top: 12%;
} 
header a{
	font-family: 'Quicksand', sans-serif;
	font-size:18px;
	text-decoration: none;
	text-align: center;
}

header h3 {
	font-family: 'Raleway', sans-serif;
	font-size:18px;
	letter-spacing: 2px;
}

header ul{
	text-align: center;
	margin-top: 2%;
	list-style: none;
	width:90%;
}

header li{
	margin-top: 3%;
	list-style-type: none;
	font-family: 'Raleway', sans-serif;
	font-size:18px;
	text-decoration: none;
	text-align: center;
	color:#EDEBEB;
	/*letter-spacing: 2px;*/

}

#introSection{
	background:#F2F2F2;
	border-radius: 15px;
}
div#introRect {
	background: linear-gradient(180deg,#FFA17F, #304352);
	color: transparent;
	-webkit-background-clip: text;
}

section#about{
	font-family: 'Raleway', sans-serif;
	/*height: 600px;*/
	font-size:20px;
	background: linear-gradient(180deg, #304352,#363795);
	/*background-color: #006298;*/
	padding-left: 5%;
	padding-right: 5%;
}

.title {
	font-family: 'Josefin Sans', sans-serif;
	letter-spacing: 5px;
	padding-bottom: 3%;
	font-size: 35px;
	text-align: center;
}

section#about p{	
	text-align: center;
	font-family: 'Quicksand', sans-serif;
}

section#about img.me{
	display: block;
    height: 100%;
    width: auto;

}

div.aboutContent{
 	background: #fafafa;
 	height:100%;
 	border-radius: 15px;
 	padding:4%;
}
div.aboutContent p{
 	padding-left:4%;
 	padding-right:4%;

 	background: linear-gradient(180deg, #304352,#363795);
 	color: transparent;
 	-webkit-background-clip: text;

}
section#about div#pic{
 	width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    font-family: 'Quicksand', sans-serif;
}

#kr_instafeed{
  list-style:none  
}

#kr_instafeed li{
    padding-right: 91px;
    margin: 13px;
    height: 137px;
}
#kr_instafeed li img{
  max-width:100%;
  /*max-height: 80%;*/
  border-radius: 15px;
}



ul#kr_instafeed {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
/*
ul#kr_instafeed li {
  display: inline-block;
  height: 150px;
  margin: 0 -18em 0 0;
  position: relative;
  width: 150px;
}*/

span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 30%;
  left:0%;
  position: relative;
  top: -108px;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
  border-radius: 15px;
}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding: 5%;
}

ul#kr_instafeed li:hover span.text-content {
  opacity: 1;
}

div#photobox{
	margin-top: 5%;
	margin-bottom: 19%;
	margin-left: 25%;
	font-size: 12px;
}

 section#resume {
 	font-family: 'Quicksand', sans-serif;
 	/*background-color: #ACA39A;*/
 	background: linear-gradient(180deg, #363795, #614385);
 	font-size: 14px;
 	color:#FFFFFF;
 	width: 100%;
 	padding-left:5%;
 	padding-right:5%;
 	padding-bottom: 3%;
 }

a#downloadResume{
	text-decoration: none;
}

a#downloadResume:hover{
	opacity: .5;
}

#resumeText {
	background: linear-gradient(to bottom, #363795, #614385);
	color: transparent;
	-webkit-background-clip: text;
}

div#ResumeContent { 
	padding:4%;
	background: #fafafa;	
	border-radius: 15px;
}

section#resume h2.title{
 	/* padding-left:60%; */
 	text-align: center;
 	/*color: #FFFFFF;*/
}

section#resume img#employer{
 	width:100%;
 	/*max-height: 200px;
 	max-width:200px;*/
}




#resume-row{
	display: inline-block;
	width:95%;
	padding-left: 1%;
	padding-right:4%;
	padding-bottom: 2%;
}


div#words{
/*	float:right;
	width:80%;
	padding-left: 4%;*/

}
div#jobpic{
	width:100%;
	padding-top: 3%;
	margin-left: 4%;
}
div#jobpic img{
	width:100%;
	border-radius: 15px;
}

div#years {
	display: inline-block;
	margin-bottom: 3%;
}

div#singleyr{
	padding-left: 2%;
}

div#singleyr a{
	text-decoration: none;
}

a#expandlink, a#singleyr {
	color:#FFFFFF;
	/*color:#337ab7;*/
}

a#resume-link {

	text-decoration: none;
	background: linear-gradient(to bottom, #363795, #614385);
	color: transparent;
	-webkit-background-clip: text;
}