header{
	/*background-color: #990000;*/
	background-color: #283c86;
	height:100%;
	overflow: visible;
	text-align: center;
}

p, h2, h3, body{
	margin-left:0;
	margin-right:0;
	margin-top:0;
	margin-bottom:0;
	font-size: 18px;
}

body{
	overflow-x:hidden;
}

.content {
	height:100%;
}


header #introRect {
	position:relative;
	width: 100%;
    height: 700px;
    margin-top: -30px;
}

div#introRect.jumbotron.text-center {
	/*background-color: #990000;*/
	color:#EDEBEB;
	background: linear-gradient(180deg, #45a247, #283c86);
}

div#resumeContent.jumbotron.text-center {
	/*background-color: #ACA39A;*/
	/*background: linear-gradient(180deg, #283c86, #EF3B36);*/
}

h1.name {
	padding-top: 40%;
}

header .name {
	margin:0;
	margin-bottom: 15px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 35px;
	letter-spacing: 4px;
	color:#EDEBEB;
}
header .Desc{
	font-family: 'Raleway', sans-serif;
	margin-top: 12%;
	letter-spacing: 2px;
	color:#EDEBEB;
}

header .school{
	margin-top: 15%;
}
a#subdesc {
	text-decoration: none;
}

header .about {
	margin-top: 18%;
}

table.table tbody tr td {
	border-top:none;
}

header .resume {
	margin-top: 13%;
} 
header .projects {
	margin-top: 12%;
} 
header a{
	font-family: 'Raleway', sans-serif;
	font-size:18px;
	text-decoration: none;
	text-align: center;
}

header h3 {
	font-family: 'Raleway', sans-serif;
	font-size:18px;
	letter-spacing: 2px;
}

header ul{
	text-align: center;
	margin-top: 2%;
	list-style: none;
	width:90%;
}

header li{
	margin-top: 3%;
	list-style-type: none;
	font-family: 'Raleway', sans-serif;
	font-size:18px;
	text-decoration: none;
	text-align: center;
	color:#EDEBEB;
	/*letter-spacing: 2px;*/

}

section#about{
	font-family: 'Raleway', sans-serif;
	height: 600px;
	font-size:20px;
	background: linear-gradient(180deg, #283c86, #EF3B36);
	/*background-color: #006298;*/
	color:#FFFFFF;
	padding-bottom: 50px;
	padding-left: 8%;
	padding-right: 10%;
	text-align: center;
}

.title{
	font-family: 'Josefin Sans', sans-serif;
	letter-spacing: 5px;
	padding-bottom: 3%;
	font-size: 55px;
	text-align: center;
}


section#about img.me{
	display: block;
    height: 100%;
    width: auto;

 }
 section#about div#pic{
 	width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;

 }

 section#resume {
 	font-family: 'Raleway', sans-serif;
 	/*background-color: #ACA39A;*/
 	background: linear-gradient(180deg, #EF3B36,#ef473a);
 	font-size: 14px;
 	color:#FFFFFF;
 	width: 100%;
 	padding-left:4%;
 	padding-right:4%;
 	overflow-x: hidden;
 	/* padding-bottom: 3%;
 	/* text-align: center;*/
 }



tr#even {
	background-color: #847d76;
	/* border-width:2px;
	border-radius: 2px/1px;
	border-radius:40px 10px 10px 40px;*/
	border:10px solid #847d76;
}

td#empImg{
	width:20%;
}

div#jobeven{
	width:100%;
	height:80%;
	padding:2%;
	background-color: #ef6156;
	/*border-radius: 20px;*/
	margin-top: 20px;
	margin-left: 5px;
	/*box-shadow: 0.4em 0.4em 1em -0.2em #847d76;*/
	position: relative;
	/*float:right;
	display: inline-block;*/
}

div#jobodd{
	width:100%;
	height:80%;
	padding:2%;
	background-color: #ef6156;
	/*box-shadow: 0.4em 0.4em 1em -0.2em #847d76;*/
	/*border-radius: 20px;*/
	margin-top: 20px;
	margin-left: 5px;
	position: relative;
}

#jobdate {
	background-color: #c1372c;
	color: #FFFFFF;
	position: relative;
	width:80px;
	height: 80px;
	border-radius: 50%;
    margin-top: 5%;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left
    text-align: center;
    font-size: 12px;
    /*box-shadow: 0.4em 0.4em 1em -0.2em #847d76;*/
    box-shadow: 0.4em 0.4em 1em -0.2em #912a22;
    
}

#job-current{
	display: block;
    height: 100%;
    width: auto;
    padding-top: 24%;
	padding-bottom: 2%;
	padding-left: 2%;
	text-align: center;
}

#job-current p{
	font-size: 12px;
}

#jobd{
	display: block;
    height: 100%;
    width: auto;
    padding-top: 26%;
	padding-bottom: 2%;
	padding-left: 0%;
}
#jobd p{
	font-size: 12px;
	padding-left:19%
}

#jobdate:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 10px;
  bottom: -10px;
  left: 50%;
  border-left: 3px dotted #ff0000;
  
}

#timeline{
	padding-top: 13%;
	padding-bottom:114%;
	margin-left: 9%;
	margin-top: 17%;
	color:#FFFFFF;
	border-left: thick dotted #FFFFFF;
	position: absolute;
  	z-index: 0;
  	display:none;
}
#timeline p{
	display: none;
}

#resume-row{
	width: 96%;
}


div#words{
	padding-top: 10px;
	padding-left: 20px;
	width:100%;
	word-wrap: break-word;

}
div#jobpic{
	width:250px;
	margin-bottom: 5%;
}
div#jobpic img{
	padding-left: 5%;
	padding-top: 20px;
	width:100%;
	display:none;
}
div#years {
	display: inline-block;
	width:370px;
	margin-bottom: 3%;
}

div#singleyr{
	padding-left: 2%;
}

div#singleyr a{
	text-decoration: none;
}

a {
	color:#FFFFFF;
	/*color:#337ab7;*/
}

div#expandEarlierPos{
	padding-top: 9%;
}