header{
	/*background-color: #283c86;*/
	background: linear-gradient(180deg, #00c3ff, #283c86);
	height:100%;
	overflow: visible;
	text-align: center;
}

p, h2, h3, body{
	margin-left:0;
	margin-right:0;
	margin-top:0;
	margin-bottom:0;
}

.content {
	height:100%;
}


header #introRect {
	position:relative;
	left: 50%;
	width: 800px;
    height: 1000px;
    margin-left: -400px;
    margin-top: -70px;
}

div#introRect.jumbotron.text-center {
	/*background-color: #990000;*/
	color:#EDEBEB;
	background-color : transparent;
	/*background: linear-gradient(180deg, #00c3ff, #283c86);*/
}

div#resumeContent.jumbotron.text-center {
	background-color: #ACA39A;
}

h1.name {
	padding-top: 200px;
}

header .name {
	margin:0;
	margin-top:20px;
	margin-bottom: 15px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 55px;
	letter-spacing: 6px;
	color:#EDEBEB;
}
header .Desc{
	font-family: 'Quicksand', sans-serif;
	margin-top: 12%;
	letter-spacing: 3.5px;
	color:#EDEBEB;
	font-size: 18px;
}

header .school{
	margin-top: 15%;
}
a#subdesc {
	text-decoration: none;
}

header .about {
	margin-top: 18%;
}

table.table tbody tr td {
	border-top:none;
}

b,strong {
	font-family: 'Raleway', sans-serif;
}

header .resume {
	margin-top: 13%;
} 
header .projects {
	margin-top: 12%;
} 
header a{
	font-family: 'Quicksand', sans-serif;
	font-size:26px;
	text-decoration: none;
	text-align: center;
}

header h3 {
	font-family: 'Quicksand', sans-serif;
	font-size:26px;
	letter-spacing: 2px;
}

header ul{
	padding-left: 0;
	margin-top: 4%;
	list-style: none;
	width:100%;
}

header li{
	margin-top: 3%;
	list-style-type: none;
	font-family: 'Quicksand', sans-serif;
	font-size:26px;
	text-decoration: none;
	text-align: center;
	color:#EDEBEB;
	/*letter-spacing: 2px;*/

}

section#about{
	font-family: 'Raleway', sans-serif;
	font-size:26px;
	background: linear-gradient(180deg, #283c86, #EF3B36);
	/*background-color: #006298;*/
	color:#FFFFFF;
	padding-bottom: 50px;
	padding-left: 8%;
	padding-right: 10%;
}

.title{
	font-family: 'Josefin Sans', sans-serif;
	letter-spacing: 5px;
	/*top:50%;*/
	padding-top:5%;
	padding-bottom: 3%;
	font-size: 55px;
	padding-left:40%;
	padding-right:40%;
}
section.abt{
	padding-left: 5%;
}
section#about p{	
	text-align: center;
	font-family: 'Quicksand', sans-serif;
}

section#about img.me{
	display: block;

    height: 100%;
    width: auto;

 }
 section#about div#pic{
 	width: 250px;
    height: 250px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
 }

 section#resume {
 	/*font-family: 'Raleway', sans-serif;
 	/*background-color: #ACA39A;*/
 	font-family: 'Quicksand', sans-serif;
 	background: linear-gradient(180deg, #EF3B36,#ef473a);;
 	font-size: 16px;
 	color:#FFFFFF;
 	width: 100%;
 	padding-left:4%;
 	padding-right:4%;
 	/* padding-bottom: 3%;
 	/* text-align: center;*/
 }

 section#resume h2.title{
 	/* padding-left:60%; */
 	text-align: center;
 	color: #FFFFFF;
 }

 section#resume img#employer{
 	width:100%;
 	/*max-height: 200px;
 	max-width:200px;*/
 }

 section#resume td.jobdesc p{
 	/*text-align: left;*/
 }


tr#even {
	background-color: #847d76;
	/* border-width:2px;
	border-radius: 2px/1px;
	border-radius:40px 10px 10px 40px;*/
	border:10px solid #847d76;
}




td#empImg{
	width:20%;
}

div#jobeven{
	width:83%;
	height:90%;
	padding:2%;
	background-color: #ef6156;
	/*border-radius: 20px;*/
	margin-top: 8%;
	margin-left: 2%;
	/*box-shadow: 0.4em 0.4em 1em -0.2em #847d76;*/
	float:right;
	display: inline-block;
}

div#jobodd{
	width:83%;
	height:90%;
	padding:2%;
	margin-top: 8%;
	margin-left: 2%;
	float:right;
	display: inline-block;
	background-color: #ef6156;
}

#jobdate {
	background-color: #c1372c;
	color: #FFFFFF;
	position: relative;
	float:left;
	width:95px;
	height: 95px;
	border-radius: 50%;
    margin-top: 15%;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    text-align: center;
    font-size: 12px;
    /*box-shadow: 0.4em 0.4em 1em -0.2em #847d76;*/
}

#job-current{
	display: block;
    height: 100%;
    width: auto;
    padding-top: 31%;
	padding-bottom: 2%;
	padding-left: 0%;
}

#jobd{
	display: block;
    height: 100%;
    width: 90%;
    padding-top: 26%;
	padding-bottom: 2%;
	padding-left: 0%;
}

#jobd p{
	font-size: 12px;
	padding-left:14%;
	padding-top:2%;
}

#jobdate:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 10px;
  bottom: -10px;
  left: 50%;
  border-left: 3px dotted #ff0000;
  
}

#timeline{
	padding-top: 26%;
	padding-bottom:13%;
	margin-left: 4%;
	margin-top: 17%;
	color:#847d76;
	border-left: thick dotted #847d76;
	position: absolute;
  	z-index: 0;
  	display: none;
}
#timeline p{
	display: none;
}

#resume-row{
	display: inline-block;
	width:95%;
}


div#words{
	/*width:70%;

	
	padding-top: 2%;*/
	float:left;
	width:70%;
	/*word-wrap: break-word;*/

}
div#jobpic{
	width:17%;
	float:right;
	padding-top: 7%;
}
div#jobpic img{
	width:100%;
}


div#years {
	display: inline-block;
	width:400px;
	margin-bottom: 3%;

}

a#expandlink, a#singleyr {
	color:#FFFFFF;
	/*color:#337ab7;*/
}

div#singleyr{
	padding-left: 2%;
}

div#singleyr a{
	text-decoration: none;
	color:#FFFFFF;
}
